* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: rgb(45,55,55);
  --main-active: rgb(25,35,35);
  --main-border: rgb(35,45,45);
  --main-text: rgb(255,255,255);
}

/* orbitron-regular - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url('./Orbitron/Orbitron-Regular.ttf');
  src: local(''),
       url('./Orbitron/Orbitron-Regular.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Orbitron/Orbitron-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* orbitron-500 - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  src: url('./Orbitron/Orbitron-Medium.ttf');
  src: local(''),
       url('./Orbitron/Orbitron-Medium.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Orbitron/Orbitron-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* orbitron-600 - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 600;
  src: url('./Orbitron/Orbitron-SemiBold.ttf');
  src: local(''),
       url('./Orbitron/Orbitron-SemiBold.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Orbitron/Orbitron-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* orbitron-700 - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  src: url('./Orbitron/Orbitron-Bold.ttf');
  src: local(''),
       url('./Orbitron/Orbitron-Bold.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Orbitron/Orbitron-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* orbitron-800 - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 800;
  src: url('./Orbitron/Orbitron-ExtraBold.ttf');
  src: local(''),
       url('./Orbitron/Orbitron-ExtraBold.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Orbitron/Orbitron-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* orbitron-900 - latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 900;
  src: url('./Orbitron/Orbitron-Black.ttf');
  src: local(''),
       url('./Orbitron/Orbitron-Black.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./Orbitron/Orbitron-Black.ttf') format('truetype'), /* Safari, Android, iOS */
}

.App {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  color: var(--main-text);
  background-color: var(--main-color);
}

.page-content {
  width: 100%;
  position: absolute;
  top: 60px;
}