* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: rgb(45,55,55);
  --main-active: rgb(25,35,35);
  --main-border: rgb(35,45,45);
  --main-text: rgb(255,255,255);
}

.App {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  color: var(--main-text);
  background-color: var(--main-color);
}

.page-content {
  width: 100%;
  position: absolute;
  top: 60px;
}