nav {
  position: fixed;
  z-index: 2;
  height: 60px;
  width: 100%;
  background-color: var(--main-color);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-family: Orbitron, sans-serif;
  letter-spacing: 3px;
}

.burger-menu a, .large-menu a {
  text-decoration: none;
  color: var(--main-text);
  white-space: nowrap;
  font-weight: 500;
}

.burger-menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.burger-menu img {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translate(-50%,0);
  height: 40px;
}

.burger-menu-click {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.burger-menu-click:active {
  background-color: var(--main-active);
}

.burger-menu ul {
  height: min-content;
  width: min-content;
  margin-right: -60px;
  background-color: var(--main-color);
}

.burger-menu ul li {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--main-border);
  background-color: var(--main-color);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 0 20px;
}

.burger-menu ul li:active {
  background-color: var(--main-active);
}

.burger-menu ul li:nth-child(1) {
  margin-top: 60px;
}

.large-menu {
  display: none;
  height: 100%;
  background-color: var(--main-color);
}

.large-menu ul {
  display: flex;
  height: 100%;
  width: min-content;
}

.large-menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: min-content;
  background-color: var(--main-color);
  border-left: 1px solid var(--main-border);
  padding: 0px 20px;
}

.large-menu ul li:active {
  background-color: var(--main-active) !important;
}

.large-menu ul li:hover {
  background-color: var(--main-border);
}

.large-menu ul li:nth-child(1) {
  border-left: none;
}

@media only screen and (min-width: 640px) {
  .burger-menu {
    display: none;
  }

  .large-menu {
    display: flex;
    justify-content: center;
  }
}  