* {
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

nav {
  height: 60px;
  width: 100%;
  background-color: rgb(255,0,0); 
}

.page-content {
  position: absolute;
  top: 60px;
  background-color: rgb(0,0,0);
}

.landing-container {
  height: 100%;
}

.landing-container .landing-image {
  display: flex;
  width: 100%;
  height: min-content;
  justify-content: center;
}

.landing-container .landing-image img {
  height: 300px;
  width: auto;
}